.card {
    position: relative;

    &__damage {
        color: red;
        font-size: 48px;
        text-shadow: #222222 2px 2px 2px;
        font-weight: bold;
        position: absolute;
        top: 25%;
        left: 43%;
    }
}
